<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.dao.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wk.pojo.Resource">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="permission" property="permission" />
        <result column="url" property="url" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, permission, url
    </sql>

    <select id="getAllResourcesByUserId" parameterType="integer" resultType="com.wk.pojo.Resource">
        SELECT
            re.id,
            re.`name`,
            re.permission,
            re.url
        FROM
            resource re
        LEFT JOIN role_resource rr ON re.id = rr.resource_id
        LEFT JOIN user_role ur ON rr.role_id = ur.role_id
        WHERE
            ur.user_id = #{userId}
    </select>

</mapper>
