<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/plugin/layui-v2.5.5/layui/css/layui.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/plugin/layui-v2.5.5/layui_ext/dtree/dtree.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/plugin/layui-v2.5.5/layui_ext/dtree/font/dtreefont.css}" type="text/css">
    <script th:src="@{/plugin/layui-v2.5.5/layui/layui.js}" type="text/javascript"></script>
    <script th:src="@{/js/test/dtree.js}" type="text/javascript"></script>
    <!--<link rel="stylesheet" href="/plugin/layui-v2.5.5/layui/css/layui.css">
    <link rel="stylesheet" href="/plugin/layui-v2.5.5/layui_ext/dtree/dtree.css">
    <link rel="stylesheet" href="/plugin/layui-v2.5.5/layui_ext/dtree/font/dtreefont.css">

    <script type="text/javascript" src="/plugin/layui-v2.5.5/layui/layui.js"></script>-->
</head>
<body>
<ul id="demoTree" class="dtree" data-id="0"></ul>
</body>
</html>