<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.sys.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wk.sys.entity.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="loginname" property="loginname" />
        <result column="address" property="address" />
        <result column="sex" property="sex" />
        <result column="remark" property="remark" />
        <result column="pwd" property="pwd" />
        <result column="deptid" property="deptid" />
        <result column="hiredate" property="hiredate" />
        <result column="mgr" property="mgr" />
        <result column="available" property="available" />
        <result column="ordernum" property="ordernum" />
        <result column="type" property="type" />
        <result column="imgpath" property="imgpath" />
        <result column="salt" property="salt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, loginname, address, sex, remark, pwd, deptid, hiredate, mgr, available, ordernum, type, imgpath, salt
    </sql>
    <select id="queryList" resultType="com.wk.sys.entity.User">
        SELECT
            u1.*,
            u2.NAME leaderName,
            d.title deptName
        FROM
            sys_user u1
            LEFT JOIN sys_user u2 ON u1.mgr = u2.id,
            sys_dept d
        WHERE
            u1.deptid = d.id
        AND u1.type = 1
        <if test="userVo.name!='' and userVo.name!=null">
            <bind name="userVo.name" value="'%'+userVo.name+'%'"/>
            AND (u1.name like #{userVo.name} or u1.loginname=#{userVo.name})
        </if>
        <if test="userVo.address!=''and userVo.address!=null">
            AND u1.address like #{userVo.address}
        </if>
        <if test="userVo.deptid!=null">
            AND u1.deptid like #{userVo.deptid}
        </if>
    </select>
    <select id="getMaxOrderNum" resultType="java.lang.Integer">
        SELECT max(ordernum) FROM sys_user
    </select>

</mapper>
