<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--引用公共css，如果不需要单独引入css文件就把~{::link}改为~{}-->
    <head th:replace="lay :: lay_css(~{::title},~{})">
        <title>修改密码</title>
    </head>
    <!--使用公有js 如果不需要单独引入css文件就把~{::script}改为~{}-->
    <div th:replace="lay :: lay_js(~{})"></div>
</head>
<script>
    function test() {
        alert(1)
    }
</script>
<body>
<!--引入top.html的th:fragment="layNavbar"片段 中间两个" :: "两边有空格-->
<div th:insert="lay :: layNavbar"></div>
用户查询页面
<a th:href="'javascript:void(0);'" th:onclick="test()">测试</a>

</body>
</html>