<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--引用公共css，如果不需要单独引入css文件就把~{::link}改为~{}-->
    <head th:replace="lay :: lay_css(~{::title},~{})">
        <title>首页</title>
    </head>
    <!--使用公有js 如果不需要单独引入css文件就把~{::script}改为~{}-->
    <div th:replace="lay :: lay_js(~{::script})">
        <!--每个页面自己的js-->
        <!--引入登录页面单独使用的js-->
        <script data-th-src="@{/js/user/list.js}"></script>
    </div>
</head>

<body>
<!--引入lay.html的th:fragment="layNavbar"片段 中间两个" :: "两边有空格-->
<div th:insert="lay :: layNavbar"></div>

<div class="layui-body">
    <div style="padding:8% 20px 1px 20px;">
        <!--工具栏-->
        <div id="toolBar" style="display: none">
            <button type="button" class="layui-btn layui-btn-sm">增加</button>
            <button type="button" class="layui-btn layui-btn-sm">编辑</button>
            <button type="button" class="layui-btn layui-btn-sm">删除</button>
        </div>

        <!--数据表格-->
        <table class="layui-hide" id="userTable" lay-filter="userTable"></table>

        <!--编辑工具栏-->
        <div id="editDemo">
            <a class="layui-btn layui-btn-sm" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
        </div>
    </div>
</div>

</body>
</html>