<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--引用公共css，如果不需要单独引入css文件就把~{::link}改为~{}-->
    <head th:replace="common :: common_css(~{::title},~{})">
        <title>首页</title>
    </head>
    <!--使用公有js 如果不需要单独引入css文件就把~{::script}改为~{}-->
    <div th:replace="common :: common_js(~{})"></div>
</head>
<body>
<!--引入top.html的th:fragment="head"片段 中间两个" :: "两边有空格-->
<div th:insert="common :: navbar"></div>
用户查询页面
<p>[[${msg}]]</p>
<a th:href="@{/index}">返回</a>


<!-- 用户没有身份验证时显示相应信息，即游客访问信息 -->
<shiro:guest>游客显示的信息</shiro:guest><br/>

<!-- 用户已经身份验证/记住我登录后显示相应的信息 -->
<shiro:user>用户已经登录过了</shiro:user><br/>

<!-- 用户已经身份验证通过，即Subject.login登录成功，不是记住我登录的 -->
<shiro:authenticated>不是记住我登录</shiro:authenticated><br/>

<!-- 显示用户身份信息，通常为登录帐号信息，默认调用Subject.getPrincipal()获取，即Primary Principal -->
<shiro:principal></shiro:principal><br/>

<!--用户已经身份验证通过，即没有调用Subject.login进行登录，包括记住我自动登录的也属于未进行身份验证，与guest标签的区别是，该标签包含已记住用户 -->
<shiro:notAuthenticated>已记住用户</shiro:notAuthenticated><br/>

<!-- 相当于Subject.getPrincipals().oneByType(String.class) -->
<shiro:principal type="java.lang.String"/><br/>

<!-- 相当于((User)Subject.getPrincipals()).getUsername() -->
<shiro:principal property="userName"/><br/>

<!-- 如果当前Subject有角色将显示body体内容 name="角色名" -->
<shiro:hasRole name="admin">这是admin角色</shiro:hasRole><br/>

<!-- 如果当前Subject有任意一个角色（或的关系）将显示body体内容。 name="角色名1,角色名2..." -->
<shiro:hasAnyRoles name="admin,test">用户拥有admin角色 或者 test角色</shiro:hasAnyRoles><br/>

<!-- 如果当前Subject没有角色将显示body体内容 -->
<shiro:lacksRole name="admin">如果不是admin角色,显示内容</shiro:lacksRole><br/>

<!-- 如果当前Subject有权限将显示body体内容 name="权限名" -->
<shiro:hasPermission name="user:list">用户拥有查询权限</shiro:hasPermission><br/>

<!-- 用户同时拥有以下两种权限,显示内容 -->
<shiro:hasAllPermissions name="user:list,user:update">用户同时拥有查询权限和修改权限</shiro:hasAllPermissions><br/>

<!-- 用户拥有以下权限任意一种 -->
<shiro:hasAnyPermissions name="user:list,user:update">用户拥有查询权限或者修改权限</shiro:hasAnyPermissions><br/>

<!-- 如果当前Subject没有权限将显示body体内容 name="权限名" -->
<shiro:lacksPermission name="user:del">如果用户没有添加权限，显示的内容</shiro:lacksPermission><br/>

</body>
</html>