<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--抽取公共css-->
<head th:fragment="common_css(title,links)">
    <meta charset="UTF-8">
    <title th:replace="${title}">可替换的页面标题</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/plugin/bootstrap-3.3.0/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/plugin/layui-v2.5.5/layui/css/layui.css}" type="text/css">
    <th:block th:replace="${links}" />
</head>

<body>

<!--抽取公共JS-->
<div th:fragment="common_js(scripts)">
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/plugin/bootstrap-3.3.0/js/bootstrap.js}"></script>
    <script th:src="@{/plugin/layui-v2.5.5/layui/layui.js}"></script>
    <th:block th:replace="${scripts}" />
</div>

<div th:fragment="navbar">
    <!--公共导航条-->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/index}" style="padding-right: 25px">SpringBoot Shiro Demo</a>
            </div>
            <ul class="nav navbar-nav">
                <!--有指定权限才会在页面显示该链接-->
                <shiro:hasPermission name="user:list">
                    <li><a class="navbar-brand" th:href="@{/toPage/user/list}">用户列表</a></li>
                </shiro:hasPermission>

                <shiro:hasPermission name="user:update">
                    <li><a class="navbar-brand" th:href="@{/test/update}">用户更新</a></li>
                </shiro:hasPermission>

                <!--当前角色是admin才会在页面显示该链接-->
                <shiro:hasRole name="admin">
                    <li><a class="navbar-brand" th:href="@{/test/del}">用户删除</a></li>
                </shiro:hasRole>

                <!--登录后显示-->
                <shiro:user>
                    <li><a class="navbar-brand" th:href="@{/toPage/test/jump}">测试</a></li>
                </shiro:user>
            </ul>
            <div>
                <!--向右对齐-->
                <ul class="nav navbar-nav navbar-right">
                    <shiro:guest>
                        <li><a th:href="@{/login}">登录</a></li>
                    </shiro:guest>
                    <shiro:user>　
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                欢迎：[<shiro:principal property="userName"/>]
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/toPage/user/center}">个人中心</a></li>
                                <li><a href="javascript:void(0);" onclick="openPwdModel();">修改密码</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a th:href="@{/logout}">退出</a></li>
                            </ul>
                        </li>
                    </shiro:user>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 模态框（Modal） --><!--backdrop:static时,点击空白处不关闭.keyboard:false时,esc键盘不关闭.-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                </div>
                <div class="form-horizontal" style="padding-left: 100px">
                    <div class="form-group">
                        <label for="oldPwd" class="col-sm-2 control-label">原始密码</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="oldPwd" placeholder="原始密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPwd" class="col-sm-2 control-label">新密码</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="newPwd" placeholder="新密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPwd" class="col-sm-2 control-label">确认密码</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="confirmPwd" placeholder="确认密码">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="closeModel()">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="updPwd()">提交更改</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <script>
        function openPwdModel() {
            $("#myModal").modal('show');
        }
        
        function closeModel() {
            $("#myModal").modal('hide');
            $('#oldPass').val("");
            $('#newPass').val("");
            $('#confirmPwd').val("");
        }
        
        function updPwd() {
            var oldPwd = $("#oldPwd").val();
            var newPwd = $("#newPwd").val();
            var confirmPwd = $("#confirmPwd").val();
            /*去掉全部空格长度为0的话证明该输入框为空*/
            if($.trim(oldPwd).length==0||$.trim(newPwd).length==0||$.trim(confirmPwd).length==0){
                alert("请填写密码");
                return false;
            }
            if(oldPwd==newPwd){
                alert("输入的新密码和旧密码一样");
                return false;
            }
            if(newPwd==confirmPwd){
                $.post(
                    "user/checkPassword",
                    {oldPwd:oldPwd,newPwd:newPwd},
                    function (data) {
                        if(data==1){
                            alert("密码修改成功，请重新登录！");
                            location.href="logout";
                        }else{
                            alert("原始密码不匹配！")
                            return false;
                        }
                    }
                )
            }else{
                alert("第二次输入的新密码和第一次输入的新密码不一致")
                return false;
            }
        }
    </script>
</div>

</body>
</html>