<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>

    <!--引用公共css，如果不需要单独引入css文件就把~{::link}改为~{}-->
    <head th:replace="lay :: lay_css(~{::title},~{})">
        <title>首页</title>
    </head>
    <!--使用公有js 如果不需要单独引入css文件就把~{::script}改为~{}-->
    <div th:replace="lay :: lay_js(~{})"></div>

</head>
<body>
<!--引入lay.html的th:fragment="layNavbar"片段 中间两个" :: "两边有空格-->
<div th:insert="lay :: layNavbar"></div>
<div align="center">
    <h1>首页</h1>
</div>

<div class="layui-body">
    <div style="padding:8% 20px 1px 20px;">
        123456
    </div>
</div>

</body>
</html>