<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <!--引用公共css-->
    <head th:replace="common :: common_css(~{::title},~{::link})">
        <title>登录</title>
        <!--使用本页面单独使用的css-->
        <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
    </head>
    <!--使用公有js-->
    <div th:replace="common :: common_js(~{::script})">
        <!--每个页面自己的js-->
        <!--引入登录页面单独使用的js-->
        <script data-th-src="@{js/login/login.js}"></script>
    </div>
</head>


<body>
    <div class="login-page">
        <div class="form">
            <input type="text" placeholder="用户名" id="username" required="required"/>
            <input type="password" placeholder="密码" id="password" required="required"/>
            <button onclick="login()">登录</button>
        </div>
    </div>
</body>

</html>